.Tchat {
    border: 1px solid black;
}
.horizontal {
    display: flex;
    flex-direction: row;
    width: 97vw;
    height: calc(90vh - 50px);
    // background-color: skyblue;
    padding: 10px 20px;
}
